@model IEnumerable<WebProject.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tong = 0;
}

<h1><b><i>Hóa đơn thanh toán</i></b></h1>
@foreach (var item in Model)
{
    tong += (int)item.Game.Gia;
}
<p style="font-size: 25px;">
    <i>Tổng doanh thu:</i> <b>@tong</b> <i>VND</i>
</p>
    <table class="table">
        <tr>
            <th>
                Ngày thanh toán
            </th>
            <th>
                Tên trò chơi
            </th>
            <th>
                Tên người thanh toán
            </th>
            <th>Đơn giá</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.TenGame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Gia) vnd
                </td>
            </tr>
        }

    </table>
